<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVVM</title>
</head>

<body>
    <div id="mvvm-app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="child.someStr">
        <p>{{ getHelloWord }}</p>
        <p v-html="htmlStr"></p>
        <button v-on:click="clickBtn">change model</button>
    </div>

    <script>
        class Observer {
            constructor(data) {
                this.data = data;
                this.walk(data);
            }
            walk(data) {
                Object.keys(data).forEach((key) => {
                    this.convert(key, data[key]);
                })
            }
            convert(key, val) {
                this.defineReactive(this.data, key, val)
            }
            defineReactive(data, key, val) {
                let dep = new Dep();
                let childObj = observe(val);

                Object.defineProperty(data, key, {
                    enumerable: true,
                    configurable: false,
                    get() {
                        if (Dep.target) {
                            dep.depend();
                        }
                        return val;
                    },
                    set(newVal) {
                        if (val === newVal) return;
                        val = newVal;
                        childObj = observe(newVal);
                        dep.notify();
                    }
                });
            }
        }

        function observe(value, vm) {
            if (!value || typeof value !== 'object') {
                return;
            }
            return new Observer(value)
        }

        let uid = 0;

        class Dep {
            constructor() {
                this.id = uid++;
                this.subs = [];
            }
            addSub(sub) {
                this.subs.push(sub);
            }
            depend() {
                Dep.target.addDep(this);
            }
            removeSub(sub) {
                let index = this.subs.indexOf(sub);
                if (index != -1) {
                    this.subs.splice(index, 1);
                }
            }
            notify() {
                this.subs.forEach((sub) => {
                    sub.update();
                })
            }
        }
        Dep.target = null;

        // Compile
        class Compile {
            constructor(el, vm) {
                this.$vm = vm;
                this.$el = this.isElementNode(el) ? el : document.querySelector(el);
                if (this.$el) {
                    this.$fragment = this.node2Fragment(this.$el);
                    this.init();
                    this.$el.appendChild(this.$fragment);
                }
            }
            init() {
                this.compileElement(this.$fragment);
            }
            node2Fragment(el) {
                let fragment = document.createDocumentFragment(),
                    child;
                while (child = el.firstChild) {
                    fragment.appendChild(child);
                }
                return fragment;
            }
            compileElement(el) {
                let childNodes = el.childNodes, that = this;
                [].slice.call(childNodes).forEach((node) => {
                    let text = node.textContent;
                    let reg = /\{\{(.*)\}\}/;
                    if (that.isElementNode(node)) {
                        that.compile(node)
                    } else if (that.isTextNode(node) && reg.test(text)) {
                        that.compileText(node, RegExp.$1.trim());
                    }

                    if (node.childNodes && node.childNodes.length) {
                        that.compileElement(node)
                    }
                })
            }
            compile(node) {
                let nodeAttrs = node.attributes,
                    that = this;
                [].slice.call(nodeAttrs).forEach((attr) => {
                    let attrName = attr.name;
                    if (this.isDirective(attrName)) {
                        let exp = attr.value;
                        let dir = attrName.substring(2);
                        if (that.isEventDirective(dir)) {
                            compileUtil.eventHandler(node, that.$vm, exp, dir);
                        } else {
                            compileUtil[dir] && compileUtil[dir](node, that.$vm, exp);
                        }
                        node.removeAttribute(attrName);
                    }
                })
            }
            compileText(node, exp) {
                compileUtil.text(node, this.$vm, exp);
            }
            isDirective(attr) {
                return attr.indexOf('v-') == 0;
            }
            isEventDirective(dir) {
                return dir.indexOf('on') === 0;
            }
            isElementNode(node) {
                return node.nodeType == 1;
            }
            isTextNode(node) {
                return node.nodeType == 3;
            }
        }

        const compileUtil = {
            text(node, vm, exp) {
                this.bind(node, vm, exp, 'text')
            },
            html(node, vm, exp) {
                this.bind(node, vm, exp, 'html')
            },
            model(node, vm, exp) {
                this.bind(node, vm, exp, 'model')
                let that = this,
                    val = this._getVMVal(vm, exp);
                node.addEventListener('input', (e) => {
                    let newValue = e.target.value;
                    if (val === newValue) {
                        return
                    }
                    that._setVMVal(vm, exp, newValue);
                    val = newValue;
                })
            },
            class(node, vm, exp) {
                this.bind(node, vm, exp, 'class')
            },
            bind(node, vm, exp, dir) {
                let updaterFn = updater[dir + 'Updater'];
                updaterFn && updaterFn(node, this._getVMVal(vm, exp));

                new Watcher(vm, exp, (value, oldValue) => {
                    updaterFn && updaterFn(node, value, oldValue)
                })
            },
            eventHandler(node, vm, exp, dir) {
                let eventType = dir.split(':')[1],
                    fn = vm.$options.methods && vm.$options.methods[exp];
                if (eventType && fn) {
                    node.addEventListener(eventType, fn.bind(vm), false);
                }
            },
            _getVMVal(vm, exp) {
                let val = vm;
                exp = exp.split('.');
                exp.forEach((k) => {
                    val = val[k];
                });
                return val;
            },
            _setVMVal(vm, exp, value) {
                let val = vm;
                exp = exp.split('.');

                exp.forEach((k, i) => {
                    if (i < exp.length - 1) {
                        val = val[k];
                    } else {
                        val[k] = value;
                    }
                })
            }
        }

        const updater = {
            textUpdater(node, value) {
                node.textContent = typeof value == 'undefined' ? '' : value;
            },
            htmlUpdater(node, value) {
                node.innerHTML = typeof value == 'undefined' ? '' : value;
            },
            classUpdater(node, value, oldValue) {
                let className = node.className;
                className = className.replace(oldValue, '').replace(/\s$/, '');

                let space = className && String(value) ? ' ' : '';
                node.className = className + space + value;
            },
            modelUpdater(node, value, oldValue) {
                node.value = typeof value == 'undefined' ? '' : value;
            }
        }


        // watcher
        class Watcher {
            constructor(vm, expOrFn, cb) {
                this.cb = cb;
                this.vm = vm;
                this.expOrFn = expOrFn;
                this.depIds = {};

                if (typeof expOrFn === 'Function') {
                    this.getter = expOrFn;
                } else {
                    this.getter = this.parseGetter(expOrFn.trim());
                }

                this.value = this.get();
            }
            update() {
                this.run();
            }
            run() {
                let value = this.get();
                let oldVal = this.value;
                if (value !== oldVal) {
                    this.value = value;
                    this.cb.call(this.vm, value, oldVal);
                }
            }
            addDep(dep) {
                if (!this.depIds.hasOwnProperty(dep.id)) {
                    dep.addSub(this);
                    this.depIds[dep.id] = dep;
                }
            }
            get() {
                Dep.target = this;
                let value = this.getter.call(this.vm, this.vm);
                Dep.target = null;
                return value;
            }
            parseGetter(exp) {
                if (/[^\w.$]/.test(exp)) return;
                let exps = exp.split('.');

                return function (obj) {
                    for (let i = 0, len = exps.length; i < len; i++) {
                        if (!obj) return;
                        obj = obj[exps[i]];
                    }
                    return obj;
                }
            }
        }

        class MVVM {
            constructor(options) {
                this.$options = options;
                let data = this._data = this.$options.data,
                    that = this;
                Object.keys(data).forEach((key) => this._proxyData(key));
                
                this._initComputed();
                observe(data, this);
                
                this.$compile = new Compile(options.el || document.body, this);
            }
            $watch(key, cb, options) {
                new Watcher(this, key, cb);
            }
            _proxyData(key, setter, getter) {
                let that = this;
                setter = setter || 
                Object.defineProperty(this, key, {
                    configurable: false,
                    enumerable: true,
                    get: function proxyGetter() {
                        return that._data[key];
                    },
                    set: function proxySetter(newVal) {
                        that._data[key] = newVal;
                    }
                })
            }
            _initComputed() {
                let that = this;
                let computed = this.$options.computed;

                if (typeof computed == 'object') {
                    Object.keys(computed).forEach((key) => {
                        Object.defineProperty(that, key, {
                            get: typeof computed[key] === 'function'
                                    ? computed[key]
                                    : computed[key].get,
                            set: function() {}
                        })
                    })
                }
            }
        }
    </script>

    <script>
        var vm = new MVVM({
            el: '#mvvm-app',
            data: {
                someStr: 'hello ',
                className: 'btn',
                htmlStr: '<span style="color: #f00;">red</span>',
                child: {
                    someStr: 'World !'
                }
            },
            computed: {
                getHelloWord: function () {
                    return this.someStr + this.child.someStr;
                }
            },
            methods: {
                clickBtn: function (e) {
                    var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                    this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                }
            }
        });
        vm.$watch('child.someStr', function () {
            console.log(arguments);
        });
    </script>
</body>

</html>