doctype html
html
  head
    title hello world
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="stylesheet", href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.js')
  body
    form(id="UserForm")
      input(id="UserPhoto" type="file")
    button(id="SubmitForm") 提交